/*
 * Global styles
 *
 */

@use 'abstract';

body {
	font-family: abstract.$f-family;
	font-size: 1rem;
	text-align: center;

	background-color: #FAFAFA;

	@media (min-width: 64em) {
		text-align: initial;
		overflow: hidden;
	}
}

// layout
main {
	@media (min-width: 64em) {
		display: grid;
		grid-template-areas: "intro form footer" "countdown form footer";
	}
}

.container {
	max-width: 90em;
	margin-inline: auto;
	width: 90%;
}
