/*
 * variable colors
 *
 */
body {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

.container {
  max-width: 90em;
  margin-inline: auto;
  width: 90%;
}

/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  background: no-repeat url(../../../assets/home/bg-pattern-header.svg);
  background-size: 32rem auto;
  background-position: bottom center;
  min-height: 20rem;
}
@media (min-width: 45em) {
  .header {
    background: initial;
    min-height: 0;
    grid-area: header;
  }
}
.header__logo {
  padding-top: 2.875rem;
  margin-inline: auto;
}
@media (min-width: 45em) {
  .header__logo {
    margin-inline: initial;
  }
}
.header a {
  width: max-content;
  outline: none;
}
.header a:hover, .header a:focus-within {
  outline: 1px dotted #757c95;
  outline-offset: 0.5rem;
}
@media (min-width: 64em) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.countdown {
  margin-top: 5rem;
  max-width: max-content;
  margin-inline: auto;
}
.countdown__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #343a51;
}
@media (min-width: 45em) {
  .countdown__title {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .countdown__title {
    text-align: initial;
  }
}
.countdown__title span {
  color: #5274ff;
}
.countdown__clock {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.countdown__clock div {
  background-color: rgba(128, 153, 255, 0.3);
  padding: 0.8125rem 1rem;
  border-radius: 0.5rem;
  margin-inline: auto;
  text-align: center;
}
@media (min-width: 45em) {
  .countdown__clock div {
    margin-inline: initial;
  }
}
.countdown__clock div p:first-child {
  color: #5274ff;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 45em) {
  .countdown__clock div p:first-child {
    font-size: 3.5rem;
  }
}
.countdown__clock div p:last-child {
  color: #343a51;
  font-weight: bold;
}

.countdown__clock--home div {
  background-color: #343a51;
}
.countdown__clock--home div p:first-child {
  color: white;
}
.countdown__clock--home div p:last-child {
  color: white;
  opacity: 0.6;
}
.countdown__title--home {
  color: white;
}
@media (min-width: 64em) {
  .countdown {
    margin-inline: initial;
  }
}

@media (min-width: 45em) {
  body {
    background-image: url(../../../assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: 32rem auto;
    background-position: 35.4375rem 0;
    background-size: 80% auto;
    min-height: 20rem;
  }
}
@media (min-width: 64em) {
  body {
    background-position: 35.4375rem -25.4375rem;
    text-align: initial;
    display: grid;
    grid-template-areas: "header header" "intro intro" "plans plans" "bottom bottom";
  }
}

.button {
  outline: none;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.8em 1.6em;
  border-radius: 99em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #5274ff;
  display: inline-block;
  width: max-content;
  transition: all 200ms linear;
}
.button:hover, .button:focus {
  color: #5274ff;
  background-color: transparent;
  border: 1px solid #5274ff;
}

.intro {
  margin-top: -9rem;
  position: relative;
  z-index: 10;
}
@media (min-width: 45em) {
  .intro {
    text-align: initial;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1.5rem;
    grid-area: intro;
  }
}
.intro__content {
  margin-inline: auto;
}
@media (min-width: 45em) {
  .intro__content {
    margin-inline: initial;
  }
}
.intro__img {
  width: 50%;
  margin-inline: auto;
  margin-bottom: 4rem;
}
@media (min-width: 45em) {
  .intro__img {
    margin-inline: initial;
    margin-bottom: 0;
  }
}
.intro__button {
  margin-top: 1.5rem;
  box-shadow: -1px 5px 10px 3px rgba(82, 116, 255, 0.3);
}
.intro__title {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #343a51;
  max-width: 18ch;
  margin-inline: auto;
}
@media (min-width: 45em) {
  .intro__title p {
    display: inline;
  }
}
@media (min-width: 45em) {
  .intro__title {
    margin-inline: initial;
  }
}
.intro__text {
  margin-top: 1.5rem;
  color: #757c95;
  max-width: 55ch;
  margin-inline: auto;
}
@media (min-width: 45em) {
  .intro__text {
    margin-inline: initial;
  }
}

.plans {
  margin-top: 5.625rem;
  position: relative;
  z-index: 10;
}
@media (min-width: 64em) {
  .plans {
    grid-area: plans;
    display: flex;
    justify-content: space-between;
  }
}
.plans .plan {
  border-radius: 0.5rem;
  padding: 2.5rem 3.5rem;
  background-color: white;
  color: #343a51;
}
@media (min-width: 45em) {
  .plans .plan {
    text-align: initial;
    display: grid;
    align-items: center;
    grid-template-areas: "title perks" "price perks" "button perks";
  }
}
@media (min-width: 64em) {
  .plans .plan {
    text-align: center;
    grid-template-areas: "title title" "price price" "perks perks" "button button";
  }
}
.plans .plan + .plan {
  margin-top: 1rem;
}
@media (min-width: 64em) {
  .plans .plan + .plan {
    margin-top: 0;
  }
}
.plans .plan__perks {
  color: #757c95;
  text-align: center;
  list-style: none;
  grid-area: perks;
}
@media (min-width: 45em) {
  .plans .plan__perks {
    text-align: initial;
  }
}
@media (min-width: 64em) {
  .plans .plan__perks {
    text-align: center;
  }
}
.plans .plan__perks li + li {
  margin-top: 1.5rem;
}
.plans .plan__title {
  font-size: 1.2rem;
  margin-bottom: 2.75rem;
}
@media (min-width: 45em) {
  .plans .plan__title {
    grid-area: title;
    margin-bottom: 0;
  }
}
.plans .plan .price {
  margin-bottom: 2.75rem;
}
@media (min-width: 45em) {
  .plans .plan .price {
    grid-area: price;
    margin-bottom: 0;
  }
}
@media (min-width: 64em) {
  .plans .plan .price {
    margin-bottom: 4rem;
  }
}
.plans .plan .price__value {
  font-size: 3.5rem;
  font-weight: bold;
}
.plans .plan__button {
  margin-top: 2rem;
  background-color: rgba(128, 153, 255, 0.3);
  color: #5274ff;
}
.plans .plan__button:hover, .plans .plan__button:focus {
  color: white;
  background-color: #5274ff;
  border: 1px solid #5274ff;
}
@media (min-width: 45em) {
  .plans .plan__button {
    grid-area: button;
  }
}
@media (min-width: 64em) {
  .plans .plan__button {
    margin-inline: auto;
  }
}
.plans .plan--pro {
  background-color: #5274ff;
  background-image: url(../../assets/home/bg-pattern-pricing.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  color: white;
}
@media (min-width: 45em) {
  .plans .plan--pro {
    background-position: center left -100%;
    background-size: 80% auto;
  }
}
@media (min-width: 64em) {
  .plans .plan--pro {
    background-size: cover;
    background-position: center -10.5rem;
  }
}
.plans .plan--pro__perks {
  color: white;
}
.plans .plan--pro__button {
  background-color: white;
}
.plans .plan--pro__button:hover, .plans .plan--pro__button:focus {
  color: white;
  background-color: #5274ff;
  border: 1px solid white;
}

.bottom {
  background: no-repeat url(../../../assets/home/bg-pattern-footer.svg);
  background-color: #262a3b;
  background-position: top center;
  padding-block: 50rem 6.25rem;
  margin-top: -50rem;
}
@media (min-width: 45em) {
  .bottom {
    padding-block: 33rem 6.25rem;
    margin-top: -33rem;
    grid-area: bottom;
  }
}
@media (min-width: 64em) {
  .bottom {
    background-position: -12rem -12rem;
    background-size: 95% auto;
    padding-block: 15rem 6.25rem;
    margin-top: -15rem;
  }
}
@media (min-width: 64em) {
  .bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.bottom .cta {
  margin-inline: auto;
}
@media (min-width: 64em) {
  .bottom .cta {
    margin-inline: initial;
  }
}
.bottom .cta .button {
  margin-top: 2.5rem;
  display: inline-block;
}
.bottom .cta .button:hover, .bottom .cta .button:focus {
  color: #262a3b;
  background-color: white;
  border: 1px solid #262a3b;
}