@use 'abstract';

.button {
	outline: none;
	border: 1px solid transparent;
	padding: 14px 24px;
	border-radius: 99rem;
	font-weight: bold;

	cursor: pointer;
	color: #FFFFFF;
	background-color: #5175FF;

	transition: all 200ms linear;

	&:hover, &:focus {
		color: #5175FF;
		background-color: #ffff;
		border: 1px solid  #5175FF;
	}
}
