/*
 * variable colors
 *
 */

$white: hsl(0, 100%, 100%);
$light-gray: hsl(0, 0%, 95%);
$grayish: hsl(0, 0%, 59%);

$dust-blue: hsl(227, 13%, 52%);
$sky-blue: hsl(228, 100%, 66%);
$very-light-blue: hsla(228, 100%, 75%, 0.3);
$light-blue: hsl(228, 100%, 75%);
$dark-blue: hsl(228, 22%, 26%);
$very-dark-blue: hsl(229, 22%, 19%);

$dark-red: hsl(0, 83%, 65%);
