/*
 * Global styles
 *
 */

@use 'abstract';

body {
	font-family: abstract.$f-family;
	font-size: 1rem;
	text-align: center;

	background: no-repeat url(../../../assets/home/bg-pattern-header.svg);
	min-height: 20rem;
	background-size: 32rem auto;
	background-position: bottom center;
	background-color: abstract.$light-gray;

	@media (min-width: 45em) {
		background-image: url(../../assets/home/bg-pattern-header.svg);
		background-repeat: no-repeat;
		background-position-x: 35.4375rem;
		background-position-y: -12.4375rem;
		background-size: 80% auto;
	}

	@media (min-width: 64em) {
		text-align: initial;
		background-image: url(../../assets/home/bg-pattern-header.svg);
		background-repeat: no-repeat;
		background-position-x: 35.4375rem;
		background-position-y: -25.4375rem;
	}
}

.container {
	max-width: 90em;
	margin-inline: auto;
	width: 90%;
}
