/*
 * Global styles
 *
 */

@use 'abstract';

body {
	font-family: abstract.$f-family;
	font-size: 1rem;
	text-align: center;

	background-color: abstract.$light-gray;

	@media (min-width: 64em) {
		text-align: initial;
	}
}
