.countdown {
	margin-top: 5rem;
	max-width: 46ch;
	@media (min-width: 64em) {
		margin-inline: initial;
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		span {
			color: #5175FF;
		}
	}

	&__clock {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;

		div {
			background-color: #E9EDFB;
			padding: 0.8125rem 1rem ;
			border-radius: 0.5rem;

			@media (min-width: 45em) {
				min-width: 6.25rem;
				margin-inline: auto;
			}

			p:first-child {
				color: #5175FF;
				font-size: 2rem;
				font-weight: bold;
				@media (min-width: 45em) {
					font-size: 3.5rem;
				}
			}

			p:last-child {
				color: #333950;
				font-size: 0.75rem;
				font-weight: bold;
				@media (min-width: 45em) {
					font-size: initial;
				}
			}
		}
	}
}
