.footer {
	overflow: hidden;
	min-height: 20rem;
	margin-top: -14.625rem;
	background-color: #25293A;
	position: relative;

	@media (min-width: 64em) {
		grid-area: footer;
		position: absolute;
		min-height: 100vh;
		left: 70%;
		right: 0;
		top: 0;
		bottom: 0;
	}

	@media (min-width: 45em) {
		min-height: 23.75rem;
	}

	&__pattern {
		position: absolute;
		object-fit: cover;
		height: 28.625rem;
		left: 50%;
		transform: translateX(-50%);
	}
}
