.header {
	&__pattern {
		position: absolute;
		object-fit: cover;
		height: 28.625rem;
		top: -10.5rem;
		left: 50%;
		transform: translateX(-50%);

		@media (min-width: 45em) {
			display: none;
		}
	}

	&__logo {
		margin-top: 2.875rem;
		margin-inline: auto;
		@media (min-width: 45em) {
			margin-inline: initial;
		}
	}
	@media (min-width: 64em) {
		margin-inline: initial;
		// ??
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

