.intro {
	margin-top: 5rem;
	position: relative;
	z-index: 2;
	@media (min-width: 64em) {
		text-align: initial;
	}
	&__title {
		font-size: 2.5rem;
		line-height: 1.2;
		color: #333950;
		@media (min-width: 45em) {
			p { display: inline; }
		}

	}
	&__text {
		margin-top: 1.5rem;
		color: #747B95;
		max-width: 58ch;
		margin-inline: auto;
		@media (min-width: 45em) {
			margin-inline: initial;
		}
	}
}
