@use 'abstract';

.intro {
	margin-top: -9rem;
	position: relative;
	z-index: 2;
	grid-area: intro;
	@media (min-width: 45em) {
		text-align: initial;
		margin-top: 5rem;
		display: flex;
		justify-content: space-between;
		column-gap: 1.5rem;
		align-items: center;
		flex-direction: row-reverse;
	}

	&__content {
		margin-inline: auto;

		@media (min-width: 45em) {
			margin-inline: initial;
		}
	}

	&__img {
		width: 50%;
		margin-inline: auto;
		margin-bottom: 4rem;

		@media (min-width: 45em) {
			margin-inline: initial;
			margin-bottom: 0;
		}
	}

	&__button {
		margin-top: 1.5rem;
		display: inline-block;
		width: max-content;
		text-decoration: none;
		box-shadow: -1px 5px 10px 3px rgba($color: abstract.$sky-blue, $alpha: 0.3);
	}

	@media (min-width: 64em) {
		text-align: initial;
	}

	&__title {
		font-size: 2.5rem;
		line-height: 1.2;
		color: abstract.$dark-blue;
		max-width: 18ch;
		@media (min-width: 45em) {
			p { display: inline; }
		}

	}
	&__text {
		margin-top: 1.5rem;
		color: abstract.$dust-blue;
		max-width: 55ch;
		margin-inline: auto;
		@media (min-width: 45em) {
			margin-inline: initial;
		}
	}
}
