.container {
	max-width: 90em;
	margin-inline: auto;
	width: 90%;
	@media (min-width: 45em) {
		width: 80%;
	}
}

// layout
main {
	@media (min-width: 45em) {
		display: grid;
		grid-template-areas: "intro"
							 "plans plans"
							"bottom"
	}
}
