.countdown {
    @media (min-width: 64em) {
        grid-area: countdown;
        margin-inline: initial;
        max-width: initial;
    }

    &__clock {
        @media (min-width: 64em) {
            justify-content: initial;
        }
    }
}
