@use 'abstract';

.footer {
	overflow: hidden;
	min-height: 20rem;
	margin-top: -14.625rem;

	padding-block: 33rem 6.25rem;
	background: no-repeat url(../../../assets/home/bg-pattern-footer.svg);
	background-color: abstract.$very-dark-blue;
	background-position: center;

	@media (min-width: 64em) {
		background-position: bottom center;
	}

	@media (min-width: 64em) {
		position: absolute;
		min-height: 100vh;
		left: 70%;
		right: 0;
		top: 0;
		bottom: 0;
	}

	@media (min-width: 45em) {
		min-height: 23.75rem;
	}
}
