@use 'abstract';

.form {
	margin-top: 5.1875rem;
	background-color: abstract.$white;
	border-radius: 0.5rem;
	padding: 1.5rem;
	position: relative;
	z-index: 2;

	max-width: 45ch;
	margin-inline: auto;

	@media (min-width: 64em) {
		grid-area: form;
		box-shadow: 2px 20px 20px 0px rgb(0 0 0 / 10%);
	}

	.button {
		margin-top: 2rem;
	}

	.input-control + .input-control {
		margin-top: 1rem;
	}
}
