@use 'abstract';

.intro {
    position: relative;
    z-index: 2;
    margin-top: -9rem;
    grid-area: intro;

    @media (min-width: 45em) {
        margin-top: 5rem;
    }

    @media (min-width: 64em) {
        text-align: initial;
    }

    &__title {
        font-size: 2.5rem;
        line-height: 1.2;
        color: abstract.$dark-blue;
        @media (min-width: 45em) {
            p { display: inline; }
        }

    }
    &__text {
        margin-top: 1.5rem;
        color: abstract.$dust-blue;
        max-width: 58ch;
        margin-inline: auto;
        @media (min-width: 64em) {
            margin-inline: initial;
        }
    }
}
