// layout

.container {
	max-width: 90em;
	margin-inline: auto;
	width: 80%;
}

body {
	@media (min-width: 45em) {
		background-image: initial;
	}
}

main {
	@media (min-width: 64em) {
		display: grid;
		grid-template-areas: "intro form footer" "countdown form footer";
	}
}
