// layout

body {
	@media (min-width: 45em) {
		background-image: initial;
	}
}

main {
	@media (min-width: 64em) {
		display: grid;
		grid-template-areas: "intro form footer" "countdown form footer";
	}
}
